################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MusikStore/.vs/MusikStore
/MusikStore/MusikStore.ConApp/obj
/MusikStore/MusikStore.Logic/bin/Debug/net8.0
/MusikStore/MusikStore.Logic/obj
/MusikStore/MusikStore.ConApp/bin/Debug/net8.0
/MusikStore/.vs/ProjectEvaluation
/Test-Uebung/.vs/Test-Uebung/v17
/Test-Uebung/.vs/Test-Uebung/FileContentIndex
/Test-Uebung/TestUebung.ConApp/obj
/Test-Uebung/TestUebung.Logic/obj
/Test-Uebung/TestUebung.UnitTest/bin/Debug/net8.0
/Test-Uebung/TestUebung.UnitTest/obj
